<template>
  <h2>Settings reference</h2>
  <div>Or: Everything you never wanted to know about how this application works</div>
  <section ref="seed" class="documentation__section">
    <reference-map-seed />
  </section>
  <section ref="mapSize" class="documentation__section">
    <reference-map-size />
  </section>
  <section ref="jaggedness" class="documentation__section">
    <reference-jaggedness />
  </section>
  <section ref="maxHeightLevel" class="documentation__section">
    <reference-max-height-level />
  </section>
  <section ref="maxWaterDepth" class="documentation__section">
    <reference-max-water-depth />
  </section>
  <section ref="verticality" class="documentation__section">
    <reference-verticality />
  </section>
  <section ref="waterCover" class="documentation__section">
    <reference-water-cover />
  </section>
  <section ref="humidity" class="documentation__section">
    <reference-humidity />
  </section>
  <section ref="temperature" class="documentation__section">
    <reference-temperature />
  </section>
  <section ref="treeCover" class="documentation__section">
    <reference-tree-cover />
  </section>
  <section ref="heavyWoods" class="documentation__section">
    <reference-heavy-woods />
  </section>
  <section ref="roughGrounds" class="documentation__section">
    <reference-rough-grounds />
  </section>
</template>
<script setup lang="ts">
import { onMounted, ref, type Ref } from 'vue';
import { useRoute } from 'vue-router';
import ReferenceJaggedness from '@/modules/ui/components/reference-jaggedness.vue';
import ReferenceMapSeed from '@/modules/ui/components/reference-map-seed.vue';
import ReferenceMapSize from '@/modules/ui/components/reference-map-size.vue';
import ReferenceMaxWaterDepth from '@/modules/ui/components/reference-max-water-depth.vue';
import ReferenceMaxHeightLevel from '@/modules/ui/components/reference-max-height-level.vue';
import ReferenceRoughGrounds from '@/modules/ui/components/reference-rough-grounds.vue';
import ReferenceHeavyWoods from '@/modules/ui/components/reference-heavy-woods.vue';
import ReferenceTreeCover from '@/modules/ui/components/reference-tree-cover.vue';
import ReferenceTemperature from '@/modules/ui/components/reference-temperature.vue';
import ReferenceHumidity from '@/modules/ui/components/reference-humidity.vue';
import ReferenceWaterCover from '@/modules/ui/components/reference-water-cover.vue';
import ReferenceVerticality from '@/modules/ui/components/reference-verticality.vue';

const route = useRoute();

const seed: Ref<null | HTMLElement> = ref(null);
const mapSize: Ref<null | HTMLElement> = ref(null);
const maxHeightLevel: Ref<null | HTMLElement> = ref(null);
const maxWaterDepth: Ref<null | HTMLElement> = ref(null);
const jaggedness: Ref<null | HTMLElement> = ref(null);
const verticality: Ref<null | HTMLElement> = ref(null);
const waterCover: Ref<null | HTMLElement> = ref(null);
const humidity: Ref<null | HTMLElement> = ref(null);
const temperature: Ref<null | HTMLElement> = ref(null);
const treeCover: Ref<null | HTMLElement> = ref(null);
const heavyWoods: Ref<null | HTMLElement> = ref(null);
const roughGrounds: Ref<null | HTMLElement> = ref(null);

function scrollToSection(section = '') {
  // TODO there must be a better way to do this
  let target: HTMLElement | undefined = undefined;
  switch (section) {
    case 'seed':
      target = seed.value as HTMLElement;
      break;
    case 'mapSize':
      target = mapSize.value as HTMLElement;
      break;
    case 'maxHeightLevel':
      target = maxHeightLevel.value as HTMLElement;
      break;
    case 'maxWaterDepth':
      target = maxWaterDepth.value as HTMLElement;
      break;
    case 'jaggedness':
      target = jaggedness.value as HTMLElement;
      break;
    case 'verticality':
      target = verticality.value as HTMLElement;
      break;
    case 'waterCover':
      target = waterCover.value as HTMLElement;
      break;
    case 'humidity':
      target = humidity.value as HTMLElement;
      break;
    case 'temperature':
      target = temperature.value as HTMLElement;
      break;
    case 'treeCover':
      target = treeCover.value as HTMLElement;
      break;
    case 'heavyWoods':
      target = heavyWoods.value as HTMLElement;
      break;
    case 'roughGrounds':
      target = roughGrounds.value as HTMLElement;
      break;
  }
  target?.scrollIntoView({ behavior: 'smooth' });
  target?.classList.add('documentation__section-highlighted');
}

onMounted(() => {
  scrollToSection(route.hash.slice(1));
});
</script>

<style scoped>
@keyframes highlight {
  0% {
    background-color: var(--sl-color-emerald-100);
  }
  100% {
    background-color: var(--sl-color-neutral-100);
  }
}
.documentation__section {
  background-color: var(--sl-color-neutral-100);
  border-top: 4px solid var(--sl-color-emerald-500);
  border-radius: var(--sl-border-radius-medium);
  box-shadow: var(--sl-shadow-large);
  margin: var(--sl-spacing-large) 0;
  padding: var(--sl-spacing-medium) var(--sl-spacing-medium) var(--sl-spacing-large) var(--sl-spacing-medium);

  h3 {
    font-size: 1.1em;
  }
  p {
    color: var(--sl-color-neutral-600);
    margin-bottom: 0;
  }
  sl-icon {
    vertical-align: middle;
  }
}
.documentation__section-highlighted {
  animation: 4s ease-out .5s highlight;
}
</style>
