<template>
  <div class="home-page">
    <h2>A generator of 3D Battletech maps for Tabletop Simulator</h2>
    <p>Ever wanted an easier way to get new battlefields for your hex-based Tabletop Simulator (TTS) games?</p>
    <p>Look no further!</p>
    <p>
      Use this map generator to start with a randomized map of any size, and immediately
      see a detailed top-down 2D preview.
    </p>
    <p>
      Quickly establish terrain features such as hills and lakes, and set additional biome parameters like
      temperature, humidity and forest cover. Then, to fine-tune your map, make manual changes as needed.
    </p>
    <p>As a final step, export your map to Tabletop Simulator and enjoy it in all its three-dimensional glory.</p>
    <p>
      The exported files are perfectly normal TTS save games, fully customizable if you want to tweak
      them further once loaded into the engine.
    </p>
    <p>
      <router-link to="/generator">
        <sl-button variant="primary">
          <sl-icon slot="prefix" name="card-image" />
          Open the map generator
        </sl-button>
      </router-link>
    </p>
  </div>
</template>
<script setup lang="ts">
</script>
