<template>
  <h3>Verticality</h3>
  <p>Controls how much the terrain is weighted towards the extreme ends of water depth / land height.</p>
  <p>
    A map with low
    <span class="b-color-highlight">Verticality</span> will have more lowlands (Level 0 ground), while
    a high value will lead to all terrain trending towards the defined
    <span class="b-color-highlight">Maximum height level</span> on the high end and the defined
    <span class="b-color-highlight">Maximum water depth</span> on the low end.
  </p>
  <p>
    The placement of water and land is not influenced by this setting. The higher the value, the steeper
    any transition from water to land becomes - high values will result in cliffs.
  </p>
</template>
<script setup lang="ts">
</script>
