<template>
  <h3>Maximum height level</h3>
  <p>
    Each hex on a Battletech map has a height level, written as a positive or negative integer, with higher values
    equaling higher terrain. Land (non-water) hexes are usually at height 0 or greater - in fact, SST will never generate
    land hexes at negative heights.
  </p>
  <p>
    The <span class="b-color-highlight">Maximum height level</span> value unsurprisingly controls the height of the
    highest hex on the map. All other hex heights will be adjusted accordingly.
  </p>
  <p>
    Note that modifying this setting does not change where hills are, only how tall they get.
  </p>
  <p>
    For practical purposes, the value that can be set here is currently capped at 9. This limitation is mostly
    due to the requirement of being able to export the map to Tabletop Simulator.
  </p>
</template>
