<template>
  <h3>Water cover</h3>
  <p>Percentage of hexes - out of all hexes on the map - that are covered by water.</p>
  <p>
    Note: The maximum depth of the map's water is controlled by
    the <span class="b-color-highlight">Maximum water depth</span> setting.
  </p>
</template>
