<template>
  <h3>Humidity</h3>
  <p>
    Approximate <a href="https://en.wikipedia.org/wiki/Humidity#Relative_humidity" target="_blank">relative humidity</a>
    in the biome.
  </p>
  <p>
    Controls terrain type in conjunction with the <span class="b-color-highlight">Temperature</span> setting's value,
    see that setting's section below.
  </p>
  <p>
    Note that local humidity varies from hex to hex - locations directly adjacent to water have higher humidity
    values than those distant from water.
  </p>
</template>
