<template>
  <h3>Maximum water depth</h3>
  <p>
    As explained in the <span class="b-color-highlight">Maximum height level</span> setting section above, hexes on
    Battletech maps come with an elevation level. For water hexes, this is usually a negative integer. We can
    interpret this negative number as water <em>depth</em> and say that a water hex of <em>height level minus 1</em>
    is at <em>depth 1</em>, which is not only shorter, it also sounds a bit more natural and makes us seem less like
    math nerds (<em><u>we</u></em> just happen to play a board game with giant robots and lots of arithmetic,
    we're definitely not nerds).
  </p>
  <p>
    SST will consider all hexes below height level 0 as water, and will never generate level 0 water (i.e. water
    starts at height level -1).
  </p>
  <p>
    The <span class="b-color-highlight">Maximum water depth</span> controls the depth of the lowest hex on the map.
    All other water hex depths will be adjusted accordingly.
  </p>
  <p>Note that modifying this setting does not change where pools of water are, only how deep they get.</p>
  <p>
    For practical purposes, the value that can be set here is currently capped at 3. This limitation is mostly
    due to the requirement of being able to export the map to Tabletop Simulator.
  </p>
  <p>Has no effect if there are no water hexes (i.e. <span class="b-color-highlight">Water cover</span> is set to 0).</p>
</template>
<script setup lang="ts">
</script>
