<template>
  <h3>Jaggedness</h3>
  <p>This is an important setting, but it is unfortunately a bit hard to explain. Let me try:</p>
  <p>
  The higher the value, the smaller (in terms of footprint as seen from above, not necessarily in terms of height level) all the terrain features like hills
  and lakes become. A fairly low value will create very gently rolling hills and valleys, while high values will
  result in fractured terrain with lots of hills and pools.
  </p>
  <p>
  In technical terms, the <span class="b-color-highlight">Jaggedness</span> value sets the
  <em>base frequency</em> of the fractal noise function that controls terrain elevation. If you know the term
  frequency from other domains, it's actually fairly easy to transfer to this use case, as higher frequency
  indicates more frequent change, ergo - here - higher variability in terrain elevation.
  </p>
  <p><em>TODO: add illustration of low base frequency noise result vs. high base frequency noise result</em></p>
  <p>
  Note that modifying this parameter can fundamentally change what your terrain looks like, so it's a good
  idea to set it before fine-tuning any of the other settings.
  </p>
</template>
