<template>
  <h3>Tree cover</h3>
  <p>
    Percentage of wood hexes, out of all non-water hexes on the map. A wood hex is one that is marked as having
    either light or heavy woods.
  </p>
  <p>
    Note: The proportion of light and heavy woods is controlled by the
    <span class="b-color-highlight">Heavy woods</span> setting (described below).
  </p>
  <p>Has no effect if there are no land hexes.</p>
</template>
