<template>
  <h3>Rough grounds</h3>
  <p>
    Controls the percentage of hexes marked as "rough", out of all land
    hexes, with the caveat described below:
  </p>
  <p>
    Note that 1) a hex cannot both be marked as rough <em>and</em> contain woods, and that 2) woods override rough
    grounds in SST's logic (if a woods designation has already been assigned to a hex, a potential "rough"
    designation for that hex will simply be ignored). This means that depending on the placement of woods on the map, there may actually be
    less rough hexes than indicated by this setting's percentage value.
  </p>
  <p>
    As with all settings, I'd recommend playing with the <span class="b-color-highlight">Rough grounds</span> slider
    until you've achieved the desired effect.
  </p>
  <p>Has no effect if there are no land hexes.</p>
</template>
