<template>
  <h3>Temperature</h3>
  <p>Biome temperature.</p>
  <p>There are five separate temperature categories:</p>
  <ul>
    <li>
      <span class="b-temp-frozen">frozen</span> - arctic temperatures way below freezing, cold enough for mile-thick ice sheets that 'Mechs can walk on
    </li>
    <li>
      <span class="b-temp-cold">cold</span> - low temperatures around or below freezing
    </li>
    <li>
      <span class="b-temp-mild">mild</span> - ideal living temperatures for humans, ranging from cool to warm
    </li>
    <li>
      <span class="b-temp-hot">hot</span> - uncomfortably warm temperatures, survivable
    </li>
    <li>
      <span class="b-temp-scorching">scorching</span> - extremely hot temperatures, potentially lethal
    </li>
  </ul>
  <p>
    When combined with the biome's <span class="b-color-highlight">Humidity</span>, these categories
    control the type of terrain that is generated, see the table below.
  </p>
  <p>
    Note that all hexes on the map are considered to have the same temperature, while humidity can vary from
    hex to hex (e.g. land hexes neighboring water are more humid).
  </p>
  <table class="reference-temperature__matrix">
    <tr class="b-align-left">
      <td style="width: 15%"></td>
      <th class="b-temp-frozen">frozen</th>
      <th class="b-temp-cold">cold</th>
      <th class="b-temp-mild">mild</th>
      <th class="b-temp-hot">hot</th>
      <th class="b-temp-scorching">scorching</th>
    </tr>
    <tr class="b-align-left">
      <th>low humidity</th>
      <td>tundra</td>
      <td>tundra</td>
      <td>desert</td>
      <td>sand</td>
      <td>volcanic</td>
    </tr>
    <tr class="b-align-left">
      <th>medium humidity</th>
      <td>ice</td>
      <td>snow</td>
      <td>grass</td>
      <td>wasteland</td>
      <td>ash</td>
    </tr>
    <tr class="b-align-left">
      <th>high humidity</th>
      <td>ice</td>
      <td>cold marsh</td>
      <td>swamp</td>
      <td>steaming bog</td>
      <td>ash / steam geysers</td>
    </tr>
  </table>
</template>
<script setup lang="ts">
</script>

<style scoped>
.reference-temperature__matrix {
  border-spacing: 0;

  tr:first-child > * {
    border-bottom: 1px solid var(--sl-color-neutral-500);
  }
  th:first-child,
  td:first-child {
    border-right: 1px solid var(--sl-color-neutral-500);
  }
  th, td {
    padding: var(--sl-spacing-small);
  }
}
</style>
