<template>
  <h3>Heavy woods</h3>
  <p>
    Percentage of heavy wood hexes, out of all wood hexes on the map. The remaining woods will be considered
    to be light.
  </p>
  <p>Has no effect if there are no wood hexes.</p>
</template>
