<template>
  <h3>Map seed</h3>
  <p>
    <u>TL;DR version:</u> The seed is a string of characters (can pretty much be anything) that controls all the "randomness",
    shapes the terrain and makes a map re-creatable (i.e. saveable).
  </p>
  <p>
    <u>Long version:</u> SST generates elevation and other map features using
    <a href="https://en.wikipedia.org/wiki/Pink_noise" target="_blank">fractal</a> <a href="https://en.wikipedia.org/wiki/Simplex_noise" target="_blank">simplex noise</a>
    created with the help of a
    <a href="https://en.wikipedia.org/wiki/Random_seed" target="_blank">seeded</a> <a href="https://en.wikipedia.org/wiki/Pseudorandom_number_generator" target="_blank">pRNG
    (pseudorandom number generator)</a>.
  </p>
  <p>
    That's quite a mouthful, but the important bit is the <em>pseudo</em> in <em>pseudorandom</em>. The RNG is not truly random,
    instead it initializes its sequence of random-<em>looking</em> (!) data by using a string of characters called a seed.
  </p>
  <p>
    In practice, that means that the random noise we get will be 100% reproducible when using the same seed, meaning you can essentially
    "store" a huge map by only storing the seed - which, again, is a short string of characters.
  </p>
  <p>
    In SST, the seed controls the shape of the terrain, the distribution of wood hexes and other things. Use any value you like
    for the seed value, but keep in mind that in order to re-generate a map to be 100% identical to one you saw before, all the
    other parameters also have to be identical.
  </p>
</template>
