<template>
  <div ref="container" class="board-visualization">
    <canvas
      v-if="width > 0"
      v-bind="{
        height: Math.ceil(width / aspectRatio),
        width,
      }"
      ref="canvas"
      class="board-visualization__canvas"
      @mousemove="updateHighlightedHex($event)"
      @mouseleave="updateHighlightedHex($event)">
    </canvas>
    <svg class="board-visualization__highlight">
      <g :transform="`translate(${highlightedCanvasCoordinates.x},${highlightedCanvasCoordinates.y})`">
        <path
          :transform="`scale(${scaleFactor})`"
          d="M0.5,-0.866 L1,0 0.5,0.866 -0.5,0.866 -1,0 -0.5,-0.866 z" />
      </g>
    </svg>
    <div
      v-if="highlightedName"
      :style="{
        top: (tooltipPosition.y - 16) + 'px',
        left: (tooltipPosition.x + 16) + 'px',
      }"
      class="board-visualization__tooltip">
      {{ highlightedName }}
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, onMounted, onUnmounted, ref, type Ref, watch, withDefaults } from 'vue';
import { combinedFields, addHexFieldMod, removeHexFieldMod, hexFieldHasMods } from '../state';
import { SQRT3 } from '@/modules/common/constants';
import {
  HexFieldType,
  WoodsType,
  type HexField,
  type Rectangle2d,
  RoughnessType
} from '@/modules/common/types';
import {
  cycleHexTypes,
  cycleWoodsTypes,
  hexCoordinatesToPoint,
  pointToHexCoordinates
} from '@/modules/common/functions';
import { getHexFieldKey } from '@/modules/common/functions';

const container: Ref<HTMLDivElement | null> = ref(null);
const canvas: Ref<HTMLCanvasElement | null> = ref(null);

// TODO might as well just use the reactive state here, using props really doesn't have any benefit
interface Props {
  mapWidth?: number;
  mapHeight?: number;
  rect?: Rectangle2d;
}

const props = withDefaults(defineProps<Props>(), {
  mapWidth: 0,
  mapHeight: 0,
});

// canvas width
const width = ref(300);
// width / height -> re-calculated when map is drawn
const aspectRatio = ref(2);
// scaling factor to fit the map into the canvas
const scaleFactor = ref(1);

// canvas coordinates of the hex at 0,0,0
const mapOriginCanvasCoordinates = ref({ x: 0, y: 0 });
// hex coordinates of the currently highlighted hex
const highlightedHex: Ref<HexField | null> = ref(null);
// description of the highlighted hex
const highlightedName = ref('');
const tooltipPosition = ref({ x: 0, y: 0 });

// highlighted hex coordinates (center)
const highlightedCanvasCoordinates = computed(() => {
  if (highlightedHex.value) {
    const hexCoordinates = hexCoordinatesToPoint(highlightedHex.value, scaleFactor.value);
    hexCoordinates.x += mapOriginCanvasCoordinates.value.x;
    hexCoordinates.y += mapOriginCanvasCoordinates.value.y;
    return hexCoordinates;
  }
  return { x: -100000, y: -100000 };
});

// const lineThickness = computed(() => (20 * width.value / 1200) / scaleFactor.value);
const lineThickness = computed(() => (20 * width.value / 1200) / props.mapWidth);

watch([props, combinedFields], () => drawMap());

function drawMap() {
  const hexSize = 1;
  if (props.mapWidth <= 0) {
    return;
  }
  aspectRatio.value = props.mapWidth / props.mapHeight;
  const ctx = canvas.value?.getContext('2d');
  if (!ctx) {
    console.warn('cannot draw map: no rendering context available');
    return;
  }
  // sort out the scale of the map
  scaleFactor.value = width.value / (props.mapWidth || 1);

  // find the scaled canvas coordinates at 0,0,0
  const zeroCoordinates = hexCoordinatesToPoint({ q: 0, r: 0, s: 0 });
  mapOriginCanvasCoordinates.value.x = (zeroCoordinates.x - (props.rect?.left || 0)) * scaleFactor.value;
  mapOriginCanvasCoordinates.value.y = (zeroCoordinates.y - (props.rect?.top || 0)) * scaleFactor.value;

  requestAnimationFrame(() => {
    ctx.clearRect(0, 0, width.value, width.value / aspectRatio.value);
    // highlightedHex.value = null;
    Object.values(combinedFields.value).forEach((hex) => {
      const coordinates = hexCoordinatesToPoint(hex);
      coordinates.x -= props.rect?.left || 0;
      coordinates.y -= props.rect?.top || 0;
      const terrainColor = combineColors(
        getElevationColor(hex.heightLevel),
        getTypeColor(hex.type),
      );
      drawHexagon(
        ctx,
        hex.key,
        coordinates.x,
        coordinates.y,
        terrainColor,
        hex.woodsType,
        hex.roughType,
        hexSize,
        scaleFactor.value,
      );
      ctx.stroke();
    });
  });
}

function getElevationColor(heightLevel: number) {
  switch (heightLevel) {
    case -3:
      return '#555';
    case -2:
      return '#888';
    case -1:
      return '#eee';
    case 0:
      return '#000';
      // return '#383';
    case 1:
      return '#333';
      // return '#494';
    case 2:
      return '#555';
      // return '#6a6';
    case 3:
      return '#666';
      // return '#8a8';
    case 4:
      return '#999';
      // return '#ca5';
    case 5:
      return '#aaa';
      // return '#a74';
    case 6:
      return '#bbb';
      // return '#743';
    case 7:
      return '#ccc';
      // return '#555';
    case 8:
      return '#eee';
      // return '#888';
    case 9:
      return '#fff';
      // return '#ccc';
    default:
      return '#f00';
  }
}

function getTypeColor(hexType: HexFieldType) {
  switch (hexType) {
    case HexFieldType.GRASS:
      return '#3a4';
    case HexFieldType.TUNDRA:
      return '#676';
    case HexFieldType.WATER:
      return '#03c';
    case HexFieldType.SWAMP:
      return '#266';
    case HexFieldType.MARSH:
      return '#464';
    case HexFieldType.BOG:
      return '#453';
    case HexFieldType.DESERT:
      return '#842';
    case HexFieldType.WASTELAND:
      return '#544';
    case HexFieldType.SAND:
      return '#661';
    case HexFieldType.ASH:
      return '#444';
    case HexFieldType.LAVA:
      return '#f44';
    case HexFieldType.VOLCANIC:
      return '#833';
    case HexFieldType.GEYSERS:
      return '#446'
    case HexFieldType.ICE:
    case HexFieldType.ICE_ON_WATER:
      return '#eef';
    case HexFieldType.SNOW:
      return '#fff';
    case HexFieldType.CONCRETE:
      return '#666';
    case HexFieldType.LUNAR:
      return '#555';
    default:
      return '#f00';
  }
}

function combineColors(c1: string, c2: string) {
  const [r1, g1, b1] = c1.substring(1).split('');
  const r1Dec = parseInt(r1, 16);
  const g1Dec = parseInt(g1, 16);
  const b1Dec = parseInt(b1, 16);
  const [r2, g2, b2] = c2.substring(1).split('');
  const r2Dec = parseInt(r2, 16);
  const g2Dec = parseInt(g2, 16);
  const b2Dec = parseInt(b2, 16);
  const r = Math.round(0.5 * (r1Dec + r2Dec)).toString(16);
  const g = Math.round(0.5 * (g1Dec + g2Dec)).toString(16);
  const b = Math.round(0.5 * (b1Dec + b2Dec)).toString(16);
  return '#' + r + g + b;
}

function drawHexagon(
    ctx: CanvasRenderingContext2D,
    hexKey: string,
    centerX: number,
    centerY: number,
    terrainColor: string,
    woodsType?: WoodsType,
    roughnessType?: RoughnessType,
    size = 1,
    scale = 1,
) {
  const halfW = size * scale;
  const halfH = 0.5 * SQRT3 * size * scale;
  const scaledC = { x: centerX * scale, y: centerY * scale };
  const points = [
    {
      x: scaledC.x + 0.5 * halfW,
      y: scaledC.y - halfH,
    }, {
      x: scaledC.x + halfW,
      y: scaledC.y,
    }, {
      x: scaledC.x + 0.5 * halfW,
      y: scaledC.y + halfH,
    }, {
      x: scaledC.x - 0.5 * halfW,
      y: scaledC.y + halfH,
    }, {
      x: scaledC.x - halfW,
      y: scaledC.y,
    }, {
      x: scaledC.x - 0.5 * halfW,
      y: scaledC.y - halfH,
    },
  ];
  ctx.fillStyle = terrainColor;
  ctx.strokeStyle = 'black';
  ctx.lineWidth = lineThickness.value;

  ctx.beginPath();
  ctx.moveTo(points[0].x, points[0].y);
  ctx.lineTo(points[1].x, points[1].y);
  ctx.lineTo(points[2].x, points[2].y);
  ctx.lineTo(points[3].x, points[3].y);
  ctx.lineTo(points[4].x, points[4].y);
  ctx.lineTo(points[5].x, points[5].y);
  ctx.closePath();
  ctx.fill();
  ctx.stroke();

  // draw wood __3_icons
  if (woodsType) {
    ctx.strokeStyle = '#311';
    ctx.fillStyle = '#311';
    ctx.beginPath();
    ctx.moveTo(Math.round(scaledC.x - 0.2 * halfW), Math.round(scaledC.y - 0.35 * halfH));
    ctx.lineTo(Math.round(scaledC.x - 0.2 * halfW), Math.round(scaledC.y + 0.35 * halfH));
    ctx.moveTo(Math.round(scaledC.x - 0.35 * halfW), scaledC.y + 0.1 * halfH);
    ctx.lineTo(Math.round(scaledC.x - 0.05 * halfW), scaledC.y + 0.1 * halfH);
    ctx.lineTo(Math.round(scaledC.x - 0.2 * halfW), scaledC.y - 0.35 * halfH);
    ctx.lineTo(Math.round(scaledC.x - 0.35 * halfW), scaledC.y + 0.1 * halfH);
    ctx.stroke();
    ctx.fill();
  }
  if ([WoodsType.HEAVY, WoodsType.DRY_HEAVY, WoodsType.JUNGLE_HEAVY].includes(woodsType as WoodsType)) {
    ctx.strokeStyle = '#311';
    ctx.fillStyle = '#311';
    ctx.beginPath();
    ctx.moveTo(Math.round(scaledC.x + 0.2 * halfW), Math.round(scaledC.y - 0.35 * halfH));
    ctx.lineTo(Math.round(scaledC.x + 0.2 * halfW), Math.round(scaledC.y + 0.35 * halfH));
    ctx.stroke();
    ctx.beginPath();
    ctx.ellipse(
      Math.round(scaledC.x + 0.2 * halfW),
      Math.round(scaledC.y - 0.2 * halfH),
      Math.round(0.2 * halfH),
      Math.round(0.2 * halfH),
      0,
      0,
      Math.PI * 2,
    );
    ctx.fill();
  }
  // draw roughness
  if (roughnessType) {
    ctx.strokeStyle  = '#555';
    ctx.fillStyle = '#555';
    ctx.beginPath();
    // stone A
    ctx.moveTo(Math.round(scaledC.x + 0.15 * halfW), Math.round(scaledC.y - 0.25 * halfH));
    ctx.lineTo(Math.round(scaledC.x + 0.25 * halfW), Math.round(scaledC.y - 0.4 * halfH));
    ctx.lineTo(Math.round(scaledC.x + 0.35 * halfW), Math.round(scaledC.y - 0.16 * halfH));
    ctx.lineTo(Math.round(scaledC.x + 0.15 * halfW), Math.round(scaledC.y - 0.05 * halfH));
    // stone B
    ctx.moveTo(Math.round(scaledC.x - 0.05 * halfW), Math.round(scaledC.y + 0.45 * halfH));
    ctx.lineTo(Math.round(scaledC.x + 0.13 * halfW), Math.round(scaledC.y + 0.44 * halfH));
    ctx.lineTo(Math.round(scaledC.x + 0.21 * halfW), Math.round(scaledC.y + 0.66 * halfH));
    ctx.lineTo(Math.round(scaledC.x - 0.22 * halfW), Math.round(scaledC.y + 0.55 * halfH));
    // stone C
    ctx.moveTo(Math.round(scaledC.x - 0.7 * halfW), Math.round(scaledC.y - 0.02 * halfH));
    ctx.lineTo(Math.round(scaledC.x - 0.5 * halfW), Math.round(scaledC.y - 0.44 * halfH));
    ctx.lineTo(Math.round(scaledC.x - 0.1 * halfW), Math.round(scaledC.y - 0.66 * halfH));
    ctx.lineTo(Math.round(scaledC.x - 0.26 * halfW), Math.round(scaledC.y - 0.03 * halfH));
    ctx.closePath();
    // ctx.stroke();
    ctx.fill();
  }
  // mark modified hexes
  if (hexFieldHasMods(hexKey)) {
    ctx.strokeStyle = '#a00';
    ctx.fillStyle = '#a00';
    ctx.beginPath();
    ctx.arc(scaledC.x - 0.4 * halfW, scaledC.y - 0.6 * halfH, 0.075 * halfW, 0, 2 * Math.PI);
    ctx.fill();
  }
}

function updateHighlightedHex(e: MouseEvent) {
  const pointCoordinate = {
    x: (e.offsetX - mapOriginCanvasCoordinates.value.x) / scaleFactor.value,
    y: (e.offsetY - mapOriginCanvasCoordinates.value.y) / scaleFactor.value,
  };
  tooltipPosition.value = { x: e.offsetX, y: e.offsetY };
  const hexCoordinates = pointToHexCoordinates(pointCoordinate.x, pointCoordinate.y);
  const field = combinedFields.value[getHexFieldKey(hexCoordinates)] || null;
  highlightedHex.value = field || null;
  updateTooltip();
}

function updateTooltip() {
  if (highlightedHex.value) {
    const woodDesc = [
      WoodsType.HEAVY,
      WoodsType.DRY_HEAVY,
      WoodsType.JUNGLE_HEAVY,
    ].includes(highlightedHex.value.woodsType as WoodsType)
      ? ', Heavy Woods'
      : [
        WoodsType.LIGHT,
        WoodsType.DRY_LIGHT,
        WoodsType.JUNGLE_LIGHT,
      ].includes(highlightedHex.value.woodsType as WoodsType)
      ? ', Light Woods'
      : '';
    const roughnessDesc = highlightedHex.value.roughType ? ', Rough' : '';
    highlightedName.value = highlightedHex.value.type + ' LVL ' +
        highlightedHex.value.heightLevel + woodDesc + roughnessDesc;

  } else {
    highlightedName.value = '';
  }
}

function onKeyDown(e: KeyboardEvent) {
  const combinedHex = combinedFields.value[highlightedHex.value?.key || ''];
  if (combinedHex) {
    e.preventDefault();
    console.log(combinedHex, e);
    let newType: HexFieldType | undefined;
    switch (e.key) {
      case 'w':
        if (combinedHex.type === HexFieldType.WATER && combinedHex.heightLevel >= -1) {
          newType = HexFieldType.GRASS;
        }
        addHexFieldMod(combinedHex.key, {
          heightLevel: combinedHex.heightLevel + 1,
          type: newType,
        });
        break;
      case 's':
        if (combinedHex.type !== HexFieldType.WATER && combinedHex.heightLevel <= 0) {
          newType = HexFieldType.WATER;
        }
        addHexFieldMod(combinedHex.key, {
          heightLevel: combinedHex.heightLevel - 1,
          type: newType,
        })
        break;
      case 'd':
        if (combinedHex.heightLevel >= 0) {
          addHexFieldMod(combinedHex.key, {
            type: cycleHexTypes(combinedHex.type),
          });
        }
        break;
      case 'a':
        if (combinedHex.heightLevel >= 0) {
          addHexFieldMod(combinedHex.key, {
            type: cycleHexTypes(combinedHex.type, false),
          });
        }
        break;
      case 'q':
        if (combinedHex.heightLevel >= 0) {
          addHexFieldMod(combinedHex.key, {
            woodsType: cycleWoodsTypes(combinedHex.woodsType),
          });
        }
        break;
      case 'e':
        if (combinedHex.heightLevel >= 0) {
          addHexFieldMod(combinedHex.key, {
            roughType: combinedHex.roughType ? undefined : RoughnessType.ROUGH,
          });
        }
        break;
      case '0':
      case '1':
      case '2':
      case '3':
      case '4':
      case '5':
      case '6':
      case '7':
      case '8':
      case '9':
        addHexFieldMod(combinedHex.key, {
          heightLevel: parseInt(e.key, 10),
        });
        break;
      case 'c': // clear
        if (combinedHex.type !== HexFieldType.GRASS || combinedHex.roughType || combinedHex.woodsType) {
          addHexFieldMod(combinedHex.key, {
            type: combinedHex.heightLevel >= 0 ? HexFieldType.GRASS : HexFieldType.WATER,
            roughType: undefined,
            woodsType: undefined,
          });
        }
        break;
      case 'r': // reset
        removeHexFieldMod(combinedHex.key);
        break;
      default:
        console.log('key unknown');
    }
    highlightedHex.value = combinedFields.value[combinedHex.key] || null;
    updateTooltip();
  }
}

onMounted(() => {
  const resizeObserver = new ResizeObserver(() => {
    const oldWidth = width.value;
    if (!container.value) {
      resizeObserver.disconnect();
      return;
    }
    const newWidth = Math.round((container.value as HTMLDivElement).getBoundingClientRect().width - 2);
    if (oldWidth !== newWidth) {
      width.value = newWidth;
      drawMap();
    }
  });
  if (container.value) {
    resizeObserver.observe(container.value as HTMLDivElement);
  } else {
    console.warn('cannot observe viz container size: element not ready');
  }
  window.addEventListener('keydown', onKeyDown);
});

onUnmounted(() => {
  window.removeEventListener('keydown', onKeyDown);
});
</script>

<style scoped>
.board-visualization {
  min-height: 150px;
  position: relative;
  width: 100%;
}
.board-visualization__canvas {
  background-color: transparent;
  cursor: crosshair;
}
.board-visualization__tooltip {
  background: var(--sl-color-neutral-900);
  border-radius: var(--sl-border-radius-medium);
  color: var(--sl-color-neutral-200);
  left: 0;
  opacity: 0.8;
  padding: var(--sl-spacing-x-small);
  pointer-events: none;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
.board-visualization__highlight {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;

  path {
    fill: #fff;
    fill-opacity: 0.3;
  }
}
</style>
