<template>
  <section class="generator-form-parameters">
    <sl-details summary="Map size">
      <generator-form-map-size />
    </sl-details>
    <sl-details summary="Elevation">
      <generator-form-elevation />
    </sl-details>
    <sl-details summary="Biome">
      <generator-form-biome />
    </sl-details>
  </section>
</template>

<script setup lang="ts">
import GeneratorFormMapSize from '@/modules/generator/components/generator-form-map-size.vue';
import GeneratorFormElevation from '@/modules/generator/components/generator-form-elevation.vue';
import GeneratorFormBiome from '@/modules/generator/components/generator-form-biome.vue';
</script>

<style scoped>
.generator-form-parameters {
  display: flex;
  flex-direction: column;
  gap: 1em;


  >sl-details::part(content) {
    display: flex;
    flex-direction: column;
    gap: var(--sl-spacing-large);
  }
}
</style>
