<template>
  <sl-range
    v-model="generatorState.humidity"
    :tooltipFormatter="percentageFormatter"
    min="0"
    max="1"
    step="0.001">
    <div slot="label" class="b-flex-row">
      Humidity: {{ percentageFormatter(generatorState.humidity) }}
      <sl-tooltip content="Humidity level (click for longer explanation)">
        <router-link to="/docs#humidity" target="_blank" class="b-flex-row">
          <sl-icon-button class="inline" name="info-circle" />
        </router-link>
      </sl-tooltip>
    </div>
    <div slot="help-text" class="b-flex-row b-space-between">
      <span>very arid</span>
      <span>very humid</span>
    </div>
  </sl-range>
  <sl-range
    v-model="generatorState.temperature"
    :tooltipFormatter="temperatureFormatter"
    min="-2"
    max="2"
    step="1">
    <div slot="label" class="b-flex-row">
      Temperature:&nbsp;
      <span :class="[`b-temp-${temperatureFormatter(generatorState.temperature, true)}`]">
        {{ temperatureFormatter(generatorState.temperature) }}
      </span>
      <sl-tooltip content="Biome temperature (click for longer explanation)">
        <router-link to="/docs#temperature" target="_blank" class="b-flex-row">
          <sl-icon-button class="inline" name="info-circle" />
        </router-link>
      </sl-tooltip>
    </div>
    <div slot="help-text" class="generator-form-biome__temp-block">
      <div class="b-temp-frozen" style="left: 0;">frozen</div>
      <div style="left: calc(25% + 4px);">
        <span class="b-temp-cold">cold</span>
      </div>
      <div style="left: 50%;">
        <span class="b-temp-mild">mild</span>
      </div>
      <div style="left: calc(75% - 4px);">
        <span class="b-temp-hot">hot</span>
      </div>
      <div class="b-temp-scorching" style="right: 0;">scorching</div>
    </div>
  </sl-range>
  <sl-range label="Tree cover"
    v-model="generatorState.treeCover"
    :tooltipFormatter="percentageFormatter"
    min="0"
    max="1"
    step="0.001">
    <div slot="label" class="b-flex-row">
      Tree cover: {{ percentageFormatter(generatorState.treeCover) }}
      <sl-tooltip content="Percentage of tree hexes (click for longer explanation)">
        <router-link to="/docs#treeCover" target="_blank" class="b-flex-row">
          <sl-icon-button class="inline" name="info-circle" />
        </router-link>
      </sl-tooltip>
    </div>
    <div slot="help-text" class="b-flex-row b-space-between">
      <span>0%</span>
      <span>100%</span>
    </div>
  </sl-range>
  <sl-range
    v-model="generatorState.heavyWoods"
    :tooltipFormatter="percentageFormatter"
    min="0"
    max="1"
    step="0.001">
    <div slot="label" class="b-flex-row">
      Heavy woods (of wood hexes): {{ percentageFormatter(generatorState.heavyWoods) }}
      <sl-tooltip content="Percentage of heavy woods of all wood hexes (click for longer explanation)">
        <router-link to="/docs#heavyWoods" target="_blank" class="b-flex-row">
          <sl-icon-button class="inline" name="info-circle" />
        </router-link>
      </sl-tooltip>
    </div>
    <div slot="help-text" class="b-flex-row b-space-between">
      <span>0%</span>
      <span>100%</span>
    </div>
  </sl-range>
  <sl-range
      v-model="generatorState.roughGrounds"
      :tooltipFormatter="percentageFormatter"
      min="0"
      max="1"
      step="0.001">
    <div slot="label" class="b-flex-row">
      Rough grounds: {{ percentageFormatter(generatorState.roughGrounds) }}
      <sl-tooltip content="Percentage of rough terrain hexes (click for longer explanation)">
        <router-link to="/docs#roughGrounds" target="_blank" class="b-flex-row">
          <sl-icon-button class="inline" name="info-circle" />
        </router-link>
      </sl-tooltip>
    </div>
    <div slot="help-text" class="b-flex-row b-space-between">
      <span>0%</span>
      <span>100%</span>
    </div>
  </sl-range>
</template>

<script lang="ts" setup>
import { generatorState } from '@/modules/generator/state';
import { percentageFormatter, temperatureFormatter } from '@/modules/common/functions';
</script>

<style scoped>
.generator-form-biome__temp-block {
  display: block;
  height: 1.8em;
  position: relative;
  width: 100%;
  >div {
    position: absolute;
    >span {
      left: -50%;
      position: relative;
    }
  }
}
</style>
