<template>
  <div class="generator-form">
    <generator-form-noise :class="getCssClass(GeneratorStep.SEED)" />
    <generator-form-parameters :class="getCssClass(GeneratorStep.PARAMETERS)" />
  </div>
</template>

<script lang="ts" setup>
import GeneratorFormNoise from '@/modules/generator/components/generator-form-noise.vue';
import GeneratorFormParameters from '@/modules/generator/components/generator-form-parameters.vue';
import { uiState } from '../state';
import { GeneratorStep } from '../types';

function getCssClass(step: GeneratorStep) {
  switch (step) {
    case GeneratorStep.SEED:
      return uiState.activeStep !== GeneratorStep.SEED
          ? 'past'
          : '';
    case GeneratorStep.PARAMETERS:
      return uiState.activeStep === GeneratorStep.PARAMETERS
          ? ''
          : uiState.activeStep === GeneratorStep.SEED
          ? 'future'
          : 'past';
    case GeneratorStep.MANUAL:
      return uiState.activeStep === GeneratorStep.MANUAL
          ? ''
          : 'future';
  }
}
</script>

<style scoped>
.generator-form {
  height: 100%;
  position: relative;

  >* {
    box-sizing: border-box;
    height: 100%;
    opacity: 1;
    overflow: hidden auto;
    padding: var(--sl-spacing-large);
    position: absolute;
    top: 0;
    transform: translate(0);
    transition: transform .3s, opacity .3s;
    transition-timing-function: ease-in-out;
    width: 100%;
  }
  >.past {
    opacity: 0;
    overflow: hidden;
    transform: translate(-100%, 0);
  }
  >.future {
    opacity: 0;
    overflow: hidden;
    transform: translate(100%, 0);
  }
}
</style>
