<template>
  <sl-drawer
      :label="sectionHeaderText"
      ref="drawer"
      class="generator__drawer"
      @sl-show="uiState.settingsPanelVisible = true"
      @sl-hide="uiState.settingsPanelVisible = false">
    <generator-form />
    <div slot="footer">
      <sl-button
        v-if="uiState.activeStep === GeneratorStep.SEED"
        :disabled="!generatorState.seed.trim()"
        @click="goForwardToNextStep()">
        Proceed with this map seed
      </sl-button>
      <div v-else-if="uiState.activeStep === GeneratorStep.PARAMETERS" class="b-flex-row b-space-between">
        <sl-button class="b-flex-1" @click="goBackToPreviousStep()">Change seed</sl-button>
        <sl-button class="b-flex-1" :disabled="false && !generatorState.changesPending" variant="primary" @click="generateMap()">Apply changes</sl-button>
        <sl-button class="b-flex-1" disabled @click="goForwardToNextStep()">Proceed to templates</sl-button>
      </div>
    </div>
  </sl-drawer>

  <div class="b-flex-row b-space-between b-gap-medium b-v-margin-small b-justify-content-end">
    <span
        v-if="!uiState.settingsPanelVisible && Object.keys(generatorState.generatedMap.hexFields).length === 0"
        class="b-flex-1 b-align-right">
      click here to generate a map &rarr;
    </span>
    <h3 v-else-if="Object.keys(generatorState.generatedMap.hexFields).length > 0" class="b-v-padding-small b-flex-1">Top-down view of the generated map (lighter color = higher elevation)</h3>
    <sl-button variant="primary" size="medium" @click="openDrawer()">
      <sl-icon slot="prefix" name="sliders" />
      Adjust map generator settings
    </sl-button>
  </div>

  <div v-if="Object.keys(generatorState.generatedMap.hexFields).length > 0" class="generator__viz">
    <board-visualization
      v-bind="{
        mapWidth: generatorState.generatedMap.mapDimensionsInGameUnits.width,
        mapHeight: generatorState.generatedMap.mapDimensionsInGameUnits.height,
        rect: generatorState.generatedMap.rect,
      }" />

    <div class="b-v-margin-medium b-flex-row b-justify-content-end">
      <sl-button
          :disabled="exportInProgress"
          variant="success"
          @click="startDownload()">
        <sl-icon slot="prefix" name="filetype-json" />
        Export this map to TTS
      </sl-button>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { type SlDrawer } from '@shoelace-style/shoelace';
import { computed, onMounted, onUnmounted, type Ref, ref } from 'vue';
import {
  combinedFields,
  generatorState,
  uiState,
  goForwardToNextStep,
  goBackToPreviousStep,
  loadGeneratorStateFromLocalStorage, saveGeneratorStateToLocalStorage
} from '../state';
import { GeneratorStep } from '../types';
import { generateMap } from '@/modules/generator/functions';
import GeneratorForm from './generator-form.vue';
import BoardVisualization from '@/modules/generator/components/board-visualization.vue';
import { createTtsSaveFile, downloadFile } from '@/modules/writer/functions';

const drawer: Ref<SlDrawer | null> = ref(null);
const exportInProgress = ref(false);

function openDrawer() {
  drawer.value?.show();
}

const sectionHeaderText = computed(() => {
  switch (uiState.activeStep) {
    case GeneratorStep.SEED:
      return 'Seeding';
    case GeneratorStep.PARAMETERS:
      return 'Map Parameters';
    case GeneratorStep.MANUAL:
      return 'Fine tuning';
  }
  return '';
});

function startDownload() {
  exportInProgress.value = true;
  const { saveFile, warnings } = createTtsSaveFile(combinedFields.value);
  // console.log(saveFile);
  downloadFile(JSON.stringify(saveFile), 'SST-generated-map.json', 'text/plain');
  setTimeout(() => exportInProgress.value = false, 3000);
}

function onKeyDown(e: KeyboardEvent) {
  if (e.key === 'p') {
    // "persist" = save
    e.preventDefault();
    e.stopImmediatePropagation();
    saveGeneratorStateToLocalStorage();
  } else if (e.key === 'o') {
    // "open" = load
    e.preventDefault();
    e.stopImmediatePropagation();
    loadGeneratorStateFromLocalStorage();
  }
}

onMounted(() => {
  openDrawer();
  window.addEventListener('keydown', onKeyDown);
});

onUnmounted(() => {
  window.removeEventListener('keydown', onKeyDown);
})
</script>

<style scoped>
h3 {
  font-size: 1.25em;
}
.generator__viz  {
  display: flex;
  flex-direction: column;
}
.generator__drawer {
  --size: min(100vw, 640px);

  &::part(body) {
    overflow: hidden;
    padding: 0;
  }
}
</style>
