<template>
  <sl-range
      v-model="generatorState.jaggedness"
      :tooltipFormatter="percentageFormatter"
      min="0"
      max="1"
      step="0.001">
    <div slot="label" class="b-flex-row">
      Jaggedness: {{ percentageFormatter(generatorState.jaggedness) }}
      <sl-tooltip content="Size of terrain features (click for longer explanation)">
        <router-link to="/docs#jaggedness" target="_blank" class="b-flex-row">
          <sl-icon-button class="inline" name="info-circle" />
        </router-link>
      </sl-tooltip>
    </div>
    <div slot="help-text" class="b-flex-row b-space-between">
      <span>few hills and lakes</span>
      <span>many hills and lakes</span>
    </div>
  </sl-range>
  <sl-range v-model="generatorState.maxHeightLevel" min="0" max="9" step="1">
    <div slot="label" class="b-flex-row">
      Maximum height level: {{ generatorState.maxHeightLevel }}
      <sl-tooltip content="Maximum height of any land hex on the map (click for longer explanation)">
        <router-link to="/docs#maxHeightLevel" target="_blank" class="b-flex-row">
          <sl-icon-button class="inline" name="info-circle" />
        </router-link>
      </sl-tooltip>
    </div>
    <div slot="help-text">elevation of the highest land hex on the map</div>
  </sl-range>
  <sl-range v-model="generatorState.maxWaterDepth" min="1" max="3" step="1">
    <div slot="label" class="b-flex-row">
      Maximum water depth: {{ generatorState.maxWaterDepth }}
      <sl-tooltip content="Maximum depth of any water hex on the map (click for longer explanation)">
        <router-link to="/docs#maxWaterDepth" target="_blank" class="b-flex-row">
          <sl-icon-button class="inline" name="info-circle" />
        </router-link>
      </sl-tooltip>
    </div>
    <div slot="help-text">depth of the deepest water hex on the map</div>
  </sl-range>
  <sl-range
      v-model="generatorState.verticality"
      :tooltipFormatter="percentageFormatter"
      min="0"
      max="1"
      step="0.001">
    <div slot="label" class="b-flex-row">
      Verticality
      <sl-tooltip content="Weighting toward elevation extremes (click for longer explanation)">
        <router-link to="/docs#verticality" target="_blank" class="b-flex-row">
          <sl-icon-button class="inline" name="info-circle" />
        </router-link>
      </sl-tooltip>
    </div>
    <div slot="help-text" class="b-flex-row b-space-between">
      <span>lowlands</span>
      <span>highlands / cliffs / canyons</span>
    </div>
  </sl-range>
  <sl-range
      v-model="generatorState.waterCover"
      :tooltipFormatter="percentageFormatter"
      min="0"
      max="1"
      step="0.001">
    <div slot="label" class="b-flex-row">
      Water cover: {{ percentageFormatter(generatorState.waterCover) }}
      <sl-tooltip content="Percentage of map covered by water (click for longer explanation)">
        <router-link to="/docs#waterCover" target="_blank" class="b-flex-row">
          <sl-icon-button class="inline" name="info-circle" />
        </router-link>
      </sl-tooltip>
    </div>
    <div slot="help-text" class="b-flex-row b-space-between">
      <span>0%</span>
      <span>100%</span>
    </div>
  </sl-range>
</template>

<script lang="ts" setup>
import { generatorState } from '@/modules/generator/state';
import { percentageFormatter } from '@/modules/common/functions';
</script>
