<template>
  <div class="b-flex-col b-gap-x-small">
    <div class="b-flex-row">
      <span>Measured in:</span>
      <sl-tooltip content="Map size, measured either in standard map sheets or in hexes (click for longer explanation)">
        <router-link to="/docs#mapSize" target="_blank" class="b-flex-row">
          <sl-icon-button class="inline" name="info-circle"></sl-icon-button>
        </router-link>
      </sl-tooltip>
    </div>
    <sl-button-group>
      <sl-tooltip content="Map sheets laid out with the long sides right and left ">
        <sl-button
            :variant="uiState.mapSizeUnit === 'sheets-portrait' ? 'primary' : 'default'"
            @click="setMapSizeUnit('sheets-portrait')">
          Map sheets: <sl-icon name="rectangle-portrait"/> portrait
        </sl-button>
      </sl-tooltip>
      <sl-tooltip content="Map sheets laid out with the long sides top and bottom">
        <sl-button
            :variant="uiState.mapSizeUnit === 'sheets-landscape' ? 'primary' : 'default'"
            class="b-flex-row"
            @click="setMapSizeUnit('sheets-landscape')">
          Map sheets: <sl-icon name="rectangle-landscape"/> landscape
        </sl-button>
      </sl-tooltip>
      <sl-tooltip content="Map width and height in hexes">
        <sl-button
            :variant="uiState.mapSizeUnit === 'hexes' ? 'primary' : 'default'"
            @click="setMapSizeUnit('hexes')">
          Hexes
        </sl-button>
      </sl-tooltip>
    </sl-button-group>
  </div>

  <div class="b-v-margin-small b-flex-col b-gap-x-small">
    <div>
      Size (width <strong>x</strong> height):
    </div>
    <div class="b-flex-row">
      <sl-input
          v-model="uiState.mapSizeInput.width"
          type="number"
          min="1"
          step="1"
          @sl-change="synchronizeMapSize()" />
      <strong class="b-h-margin-small">x</strong>
      <sl-input
          v-model="uiState.mapSizeInput.height"
          type="number"
          min="1"
          step="1"
          @sl-change="synchronizeMapSize()" />
    </div>
    <div v-if="uiState.mapSizeUnit !== 'hexes'" class="b-font-size-small b-color-pale">
      (= hex size {{ generatorState.mapSize.width }}
      <strong>x</strong>
      {{ generatorState.mapSize.height }})
    </div>
  </div>
</template>

<script setup lang="ts">
import { generatorState, setMapSizeUnit, synchronizeMapSize, uiState } from '@/modules/generator/state';
</script>
