<!-- Form fields for the noise parameters -->
<template>
  <section>
    <sl-input
      v-model="generatorState.seed"
      :disabled="uiState.seedInputLocked"
      placeholder="provide a custom seed or click the button to randomize &rarr;">
      <sl-icon-button
        :disabled="uiState.seedInputLocked"
        class="generator-form-noise__randomize-button"
        slot="suffix"
        name="dices"
        title="randomize map seed"
        @click="randomizeSeed()" />
      <div slot="label" class="b-flex-row">
        <span>Map seed</span>
        <sl-tooltip content="pRNG seed for map noise (click for longer explanation)">
          <router-link to="/docs#seed" target="_blank" class="b-flex-row">
            <sl-icon-button name="info-circle"></sl-icon-button>
          </router-link>
        </sl-tooltip>
      </div>
      <div slot="help-text">
        determines the basic shape of your map's terrain
      </div>
    </sl-input>
    <div v-if="uiState.showSeedResetWarning" class="generator-form-noise__reset-warning">
      <sl-icon name="exclamation-triangle" />
      <div class="b-flex-col b-gap-small b-font-size-small">
        <p class="b-v-margin-0">This input field is disabled because the map seed has already been used to generate terrain.</p>
        <p class="b-v-margin-0">Resetting the seed will mean your map's current terrain structure and all
          manual changes will be lost.
        </p>
        <sl-button variant="warning" @click="resetSeed(); unlockSeed()">Delete current map and reset seed</sl-button>
      </div>
    </div>
  </section>
</template>

<script lang="ts" setup>
import { generatorState, randomizeSeed, resetSeed, uiState, unlockSeed } from '../state';
</script>

<style scoped>
.generator-form-noise__randomize-button {
  color: var(--sl-color-primary-100);
}
.generator-form-noise__reset-warning {
  align-items: center;
  background-color: var(--sl-color-neutral-200);
  border-left: 4px solid var(--sl-color-warning-600);
  border-radius: var(--sl-border-radius-medium);
  display: flex;
  gap: 1em;
  margin-top: var(--sl-spacing-large);
  padding: var(--sl-spacing-medium) var(--sl-spacing-small);
  > sl-icon {
    font-size: var(--sl-font-size-4x-large);
  }
}
</style>
