/**
 * Some standard classes:
 */
/* normal text alignment */
.b-align-center {
  text-align: center;
}
.b-align-left {
  text-align: left;
}
.b-align-right {
  text-align: right;
}
/* font style */
.b-bold {
  font-weight: bold;
}
.b-italic {
  font-style: italic;
}
/* colors */
.b-color-primary {
  color: var(--sl-color-primary-500);
}
.b-color-highlight {
  color: var(--sl-color-primary-700);
}
.b-color-pale {
  color: var(--sl-color-neutral-500);
}
/* temperatures */
.b-temp-mild,
.b-temp-normal {
  color: var(--sl-color-green-500);
}
.b-temp-frozen {
  color: var(--sl-color-blue-300);
}
.b-temp-cold {
  color: var(--sl-color-blue-600);
}
.b-temp-hot {
  color: var(--sl-color-red-700);
}
.b-temp-scorching {
  color: var(--sl-color-orange-600);
}
/* flex box settings */
.b-flex-row {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.b-flex-col {
  display: flex;
  flex-direction: column;
}
.b-space-between {
  justify-content: space-between;
}
.b-justify-content-start {
  justify-content: flex-end;
}
.b-justify-content-center {
  justify-content: center;
}
.b-justify-content-end {
  justify-content: flex-end;
}
.b-gap-medium {
  gap: var(--sl-spacing-medium);
}
.b-gap-small {
  gap: var(--sl-spacing-small);
}
.b-gap-x-small {
  gap: var(--sl-spacing-x-small);
}
.b-flex-1 {
  flex: 1;
}
.b-v-padding-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.b-v-padding-small {
  padding-top: var(--sl-spacing-small);
  padding-bottom: var(--sl-spacing-small);
}
.b-h-margin-0 {
  margin-left: 0;
  margin-right: 0;
}
.b-h-margin-x-small {
  margin-left: var(--sl-spacing-x-small);
  margin-right: var(--sl-spacing-x-small);
}
.b-h-margin-small {
  margin-left: var(--sl-spacing-small);
  margin-right: var(--sl-spacing-small);
}
.b-v-margin-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.b-v-margin-x-small {
  margin-top: var(--sl-spacing-x-small);
  margin-bottom: var(--sl-spacing-x-small);
}
.b-v-margin-small {
  margin-top: var(--sl-spacing-small);
  margin-bottom: var(--sl-spacing-small);
}
.b-v-margin-medium {
  margin-top: var(--sl-spacing-medium);
  margin-bottom: var(--sl-spacing-medium);
}
.b-font-size-x-small {
  font-size: var(--sl-font-size-x-small);
}
.b-font-size-small {
  font-size: var(--sl-font-size-small);
}
.b-font-size-large {
  font-size: var(--sl-font-size-large);
}
.b-font-size-x-large {
  font-size: var(--sl-font-size-x-large);
}
.b-font-size-2x-large {
  font-size: var(--sl-font-size-2x-large);
}
