@font-face {
    font-family: 'Inria Sans';
    src: local('InriaSans'), local('InriaSans'),
    url('/assets/fonts/InriaSans-Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inria Sans';
    src: local('InriaSans'), local('InriaSans'),
    url('/assets/fonts/InriaSans-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Inria Sans';
    src: local('InriaSans'), local('InriaSans'),
    url('/assets/fonts/InriaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inria Sans';
    src: local('InriaSans'), local('InriaSans'),
    url('/assets/fonts/InriaSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Inria Sans';
    src: local('InriaSans'), local('InriaSans'),
    url('/assets/fonts/InriaSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inria Sans';
    src: local('InriaSans'), local('InriaSans'),
    url('/assets/fonts/InriaSans-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
