@import './fonts.css';
@import './variables.css';
@import './base.css';
@import './shoelace-customizations.css';

:root {
  color-theme: dark;
  font-size: 16px;
}

@media(max-width: 800px) {
  :root {
    font-size: 14px;
  }
}

#app {
  width: min(90%, 1280px);
  margin: 0 auto;
  padding: 2rem 3rem;
  font-weight: normal;
}

body {
  background-color: var(--sl-color-neutral-50);
  color: var(--sl-color-neutral-800);
  font-family: var(--sl-font-sans);
  margin: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header styles */
h1, h2, h3, h4, h5, h6 {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.2em;
}

table {
  width: 100%;
}
th {
  font-weight: 400;
}

/**
 * Scrollbar styling
 */
* {
  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--sl-color-neutral-200);
  }

  &::-webkit-scrollbar
  {
    width: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb
  {
    background-color: var(--sl-color-neutral-300);
    border-radius: var(--sl-border-radius-medium);
  }
}
