/**
 * Shoelace components
 */
sl-input::part(form-control-label),
sl-range::part(form-control-label) {
    line-height: var(--sl-line-height-normal);
}
sl-input::part(form-control-help-text),
sl-range::part(form-control-help-text) {
    line-height: var(--sl-line-height-normal);
    margin-top: 0.1em;
}
sl-drawer::part(header) {
    background-color: var(--sl-color-neutral-200);
    border-bottom: 2px solid var(--sl-color-neutral-400);
}
sl-drawer::part(footer) {
    background-color: var(--sl-color-neutral-200);
    border-top: 2px solid var(--sl-color-neutral-400);
}
sl-icon-button.inline::part(base) {
    padding-bottom: 0;
    padding-top: 0;
}
