<template>
  <header class="app__header">
    <div class="app__header-hamburger-menu">
      <sl-dropdown>
        <sl-icon-button slot="trigger" name="list" />
        <sl-menu>
          <sl-menu-item value="home" @click="router.push('/')">Home</sl-menu-item>
          <sl-menu-item value="generator" @click="router.push('/generator')">Generator</sl-menu-item>
          <sl-menu-item value="reference" @click="router.push('/docs')">Settings reference</sl-menu-item>
        </sl-menu>
      </sl-dropdown>

    </div>
    <div class="app__header-logo">
      <router-link to="/">
        <img src="/logo.svg" alt="Sic Semper Terrainis Logo" />
      </router-link>
    </div>
    <h1 class="app__header-text">
      <span class="app__header-text-main">&ldquo;Sic Semper Terrainis&rdquo;</span>
      <span class="app__header-text-secondary">
        &mdash;&nbsp;<a :href="getSarnaLink(author)" target="_blank">{{ author }}</a>
        <sl-icon-button class="app__header-refresh-icon" name="arrow-clockwise" @click="updateAuthor()" />,
        probably
      </span>
    </h1>
  </header>

  <RouterView />
</template>

<script setup lang="ts">
import { useRouter, RouterLink, RouterView } from 'vue-router';
import { onMounted, ref } from 'vue';
import { ITERATION_LIMIT } from '@/modules/common/constants';

const router = useRouter();

const people = [
  'Hanse Davion',
  'Victor Steiner-Davion',
  'Morgan Hasek-Davion',
  'Katrina Steiner',
  'Melissa Steiner',
  'Max Liao',
  'Sun-Tzu Liao',
  'Candace Liao',
  'Justin Allard',
  'Kai Allard-Liao',
  'Thomas Marik',
  'Anastasius Focht',
  'Takashi Kurita',
  'Theodore Kurita',
  'Hohiro Kurita',
  'Omi Kurita',
  'Aleksandr Kerensky',
  'Nicholas Kerensky',
  'Natasha Kerensky',
  'Ulric Kerensky',
  'Phelan Kell',
  'Jaime Wolf',
  'Morgan Kell',
  'Grayson Carlyle',
  'Ariana Winston',
  'Tyra Miraborg',
  'Tor Miraborg',
  'Christian Månsdottir',
  'Haakon Magnusson',
  'Joanna',
  'Minobu Tetsuhara',
  'Stan Bradford',
];

const author = ref('');

function updateAuthor() {
  let newAuthor = '';
  for (let i = 0; i < ITERATION_LIMIT; i++) {
    newAuthor = people[Math.floor(Math.random() * people.length)];
    if (newAuthor !== author.value) {
      author.value = newAuthor;
      break;
    }
  }
}

function getSarnaLink(name = '') {
  return 'https://www.sarna.net/wiki/' + name.replace(/\s/g, '_');
}

onMounted(() => updateAuthor());
</script>

<style scoped>
.app__header {
  align-items: center;
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
  position: relative;
}
.app__header-hamburger-menu {
  /*top: calc(2rem + 57);
  left: -2.5rem;*/
  /*position: absolute;*/
}
.app__header-logo {
  display: flex;
  img {
    width: min(10vw, 300px);
  }
}
.app__header-text {
  display: flex;
  flex-direction: column;
}
.app__header-text-main {
  font-size: 2em;
  font-style: italic;
}
.app__header-text-secondary {
  align-items: center;
  color: var(--sl-color-neutral-500);
  display: flex;
}
.app__header-refresh-icon::part(base) {
  padding: var(--sl-spacing-2x-small);
}
</style>
